
  <!---------- Footer HTML Starts --------->
<div class="footer">
  <div class="container">
     <div class="footer-sect">
        <h2>Best Institute For Education</h2>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock.</p>
        <img src="assets/sm.webp" style="width:130px;height:120px;">
     </div>
     <div class="footer-sect">
        <h2>Quick Links</h2>
        <ul class="footer-menu">
           <li><a href="/home"> > Home</a></li>
           <li><a href="/abotus"> > About us</a></li>
           <li><a href="/contactus"> > ContactUs</a></li>
           <li><a href="/gallery"> > Gallery</a></li>
           <li><a href="/placement"> > Placement</a></li>
           <li><a href="/department"> > Department</a></li>
           
        </ul>
     </div>
     <div class="footer-sect">
        <h2>Contact Info</h2>
        <ul class="footer-contact">
           <li><b>Email :</b> reply@bestinstituteeducation.com </li>
           <li><b>Call :</b> +91 -123 456 7890 </li>
           <li><b>Fax :</b> +91 -123 4567890 </li>
           <li><b>Email :</b> abc@gmail.com</li>
           <li><b>Linkdin :</b> http://www.linkdin.com/in/abc</li>
           <li><b>Twitter :</b> abcdef</li>
           <li><b>Website :</b> http://www.abc.com</li>
           
        </ul>
     </div>
  </div>
</div>

<!---------- Footer HTML Ends --------->
