<app-header></app-header>
<!---------- About Us HTML Starts --------->
<div class="main-section about-us">
    <img src="assets/principal.jpg" >
    <div>
       <h2 class="heading">About Our Chairman </h2><hr>
       <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
       <img src="assets/sign.png">
    </div>
 </div>
 <!---------- About Us HTML Ends --------->

 <!---------- Testimonial HTML Starts --------->
<div class="main-section">
    <h2 class="heading">What Student Say's About Courses</h2><hr>
    <marquee scrollamount="7">
       <div class="testimonial">
          <div class="testimonial-text"> Contrary to popular belief, Lorem Ipsum is not simply <br>
             It has roots in a piece of classical Latin literature <br>
             from 45 BC, making it over 2000 years old. Richard ,<br>
             a Latin professor at Hampden-Sydney College in look. 
          </div>
          <div class="testimonial-detail">
             <div class="testimonial-img"> <img src="assets/testominial-1.jpg" width="80" height="80"> </div>
             <div class="testimonial-name">
                <h5>Niccky</h5>
                <p>Web Devloper</p>
             </div>
          </div>
       </div>
       <div class="testimonial">
          <div class="testimonial-text"> Contrary to popular belief, Lorem Ipsum is not simply <br>
             It has roots in a piece of classical Latin literature <br>
             from 45 BC, making it over 2000 years old.  McClintock,<br>
             a Latin professor at Hampden-Sydney College in look. 
          </div>
          <div class="testimonial-detail">
             <div class="testimonial-img"> <img src="assets/testominial-2.jpg" width="80" height="80"> </div>
             <div class="testimonial-name">
                <h5>Richa</h5>
                <p>Web Devloper</p>
             </div>
          </div>
       </div>
       <div class="testimonial">
          <div class="testimonial-text"> Contrary to popular belief, Lorem Ipsum is not simply <br>
             It has roots in a piece of classical Latin literature <br>
             from 45 BC, making it over 2000 years old.  McClintock,<br>
             a Latin professor at Hampden-Sydney College in  look. 
          </div>
          <div class="testimonial-detail">
             <div class="testimonial-img"> <img src="assets/testominial-3.jpg" width="80" height="80"> </div>
             <div class="testimonial-name">
                <h5>Jiya</h5>
                <p>Web Devloper</p>
             </div>
          </div>
       </div>
    </marquee>
 </div>
 <app-footer></app-footer>
 <!---------- Testimonial HTML Ends --------->



