
<app-header></app-header>
<!---------- Gallery HTML Starts --------->
<div class="main-section gallery">
    <h2 class="heading">Gallery</h2><hr>
    <img src="assets/act1.jpg"> 
    <img src="assets/basketball.png"> 
    <img src="assets/cafeteria.png"> 
    <img src="assets/library.png">
    <img src="assets/act2.jpg">
    <img src="assets/act-3.jpg">
    <img src="assets/act-4.jpg">
    <img src="assets/act-5.jpg">
    <img src="assets/act-6.jpg"> 
 </div>
 <app-footer></app-footer>
 <!---------- Gallery HTML Ends --------->
