<!---------- Placement HTML Starts --------->

<app-header></app-header>
<div class="main-section">
    <h2 class="heading">Placement</h2><hr>
    <marquee class="placement" direction="left" scrollamount="10"> -->
       <img src="assets/deloitte.png" width="300"  > 
       <img src="assets/cognizant.png" width="300" > 
       <img src="assets/bharat.png" width="200" > 
       <img src="assets/ola.png" width="300"> 
       <img src="assets/amazon.png" width="400"> 
       <img src="assets/tcs.png" > 
       <img src="assets/flipkart.png" width="200" >
       
    </marquee>
 </div>
 <app-footer></app-footer>
 
 <!-- -------- Placement HTML Ends ------->
