<app-header></app-header>
<div class="contact">
</div>
<br>

<div class="container">
 <!-- <div class="container"> -->
    <div class="row">
        <div class="col-md-5">

        <div class="contact-col">
            <div>
                <i class="fa fa-home"></i>
                <span>
                    <h1><u>Contact</u></h1>
                    <br>
                    <br>
                    <div class="h1">Best Institute for Higher Study<br></div>
                    <br>
                    <h2>Vadgaon Budruk,</h2>
                    <h2>Pune,Maharashtra-411041,India</h2>
                    <br>
                    <br>
               

         
        <div class="h3">Programme Enquiry:</div>
        <div class="h6">
        Monday - Saturday : 10:00 AM – 6:00 PM
        </div>
<div class="h6">
<b>Campus:</b>
Best Institute for Higher Study, Vadgaon Budruk Pune
</div>
<div class="h6">
<h3><b>Phone : </b>
+91 1234567893<br>
+91 6873563784</h3>
</div>
<div class="h6">
<h3><b>Whatsapp  :</b>
+91 9881492848 </h3>
</div>
<div class="h6">
<h3><b>Email :</b>
abc@gmail.com</h3>
</div>
</span>
</div>
</div>
</div>
    <div class="col-md-7 ">
    <section class="location">
        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.916455911073!2d73.79379747473439!3d18.487443070186266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bf7b4e714c35%3A0x77901ea0ac6a3421!2sLogipool%20Infotech!5e0!3m2!1sen!2sin!4v1700285113220!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
        <!-- <iframe src="https://maps.app.goo.gl/ikc73raLjUX5FgKo7" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.354988100493!2d73.83435947465098!3d18.467572770792106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc295b54ad15fbd%3A0xccafe4e1551e948c!2sSKNCOE!5e0!3m2!1sen!2sin!4v1712475469872!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
    </div>
</div>
</div>


<app-footer></app-footer>      
