<div class="container">
    <img src="assets/logo.png" class="logo">
    </div>
    <div class="slider">
        <img src="assets/slider.png">
    </div>
    <!---------- News, Event, Notice Board HTML Starts --------->
    <!-- <style>ul{
      list-style-image:url("src/assets/new.png");
      margin-left: 40px;}
   </style> -->
<div class="container">
    <div class="main-section">
       <!---------- News Section --------->
       <div class="event">
          <h2 class="heading">Campus News</h2>
          <div>
             <marquee direction="up" scrollamount="7" style="height:400px;">
                <ul>
                   <li><img src="assets/new-icon.gif " width="50"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                   <li> <img src="assets/new-icon.gif" width="50">Desktop publishing software like Aldus PageMaker including versions Lorem Ipsum</li>
                   <li> <img src="assets/new-icon.gif" width="50">Many desktop publishing packages and web page editors now use</li>
                   <li> <img src="assets/new-icon.gif" width="50">Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</li>
                   <li> <img src="assets/new-icon.gif" width="50">Welcome To The Best Private University in MP</li>
                   <li> <img src="assets/new-icon.gif" width="50">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                   <li> <img src="assets/new-icon.gif" width="50">Desktop publishing software like Aldus PageMaker including versions of Ipsum</li>
                </ul>
             </marquee>
          </div>
       </div>
       <!---------- Event Section --------->
       <div class="event">
          <h2 class="heading">Events</h2>
          <div>
             <marquee direction="up" scrollamount="7" style="height:400px;">
                <ul>
                   <li><img src="assets/new-icon.gif" width="50"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                   <li><img src="assets/new-icon.gif" width="50"> Desktop publishing software like Aldus PageMaker including versions Lorem Ipsum</li>
                   <li><img src="assets/new-icon.gif"width="50"> Many desktop publishing packages and web page editors now use</li>
                   <li><img src="assets/new-icon.gif"width="50"> Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</li>
                   <li><img src="assets/new-icon.gif"width="50"> Welcome To The Best Private University in MP</li>
                   <li><img src="assets/new-icon.gif"width="50"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                   <li><img src="assets/new-icon.gif"width="50"> Desktop publishing software like Aldus PageMaker including versions of Ipsum</li>
                </ul>
             </marquee>
          </div>
       </div>
       <!---------- Notice Board Section --------->
       <div class="event">
          <h2 class="heading">Notice Boards</h2>
          <div>
             <marquee direction="up" scrollamount="7" style="height:400px;">
                <ul>
                   <li ><img src="assets/new-icon.gif" width="50">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                   <li><img src="assets/new-icon.gif" width="50"> Desktop publishing software like Aldus PageMaker including of Lorem Ipsum</li>
                   <li><img src="assets/new-icon.gif" width="50"> Many desktop publishing packages and web page editors now use</li>
                   <li><img src="assets/new-icon.gif" width="50"> Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</li>
                   <li><img src="assets/new-icon.gif" width="50"> Welcome To The Best Private University in MP</li>
                   <li><img src="assets/new-icon.gif" width="50"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                   <li><img src="assets/new-icon.gif" width="50"> Desktop publishing software like Aldus PageMaker including versions of Ipsum</li>
                </ul>
             </marquee>
          </div>
       </div>
    </div>
    <app-footer></app-footer>
    
    <!---------- News, Event, Notice Board HTML Ends --------->
    